# Gateway Configuration

# Server Port
PORT=8000

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:5173

# Microservices URLs
AUTH_SERVICE_URL=http://localhost:3001
MARKETPLACE_SERVICE_URL=http://localhost:3002
FORUM_SERVICE_URL=http://localhost:3003
