# Gateway Configuration

# Server Port
PORT=8000

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:5173

# Microservices URLs
AUTH_SERVICE_URL=http://localhost:3001
MARKETPLACE_SERVICE_URL=http://localhost:3002
RENTHUB_SERVICE_URL=http://localhost:3003
NEWSBOX_SERVICE_URL=http://localhost:3004
NOTICES_SERVICE_URL=http://localhost:3005
CHAT_SERVICE_URL=http://localhost:3006
