# --- DATABASE CONFIGURATION ---
DB_HOST=your-aiven-host.aivencloud.com
DB_PORT=16231
DB_USER=avnadmin
DB_PASSWORD=your_password
DB_NAME=rent_db

# --- SERVER CONFIGURATION ---
PORT=3003
NODE_ENV=development
