# --- DATABASE CONFIGURATION (Aiven) ---
DB_HOST=pg-1ea37722-aranov1107-6aeb.c.aivencloud.com
DB_PORT=16231
DB_USER=avnadmin
DB_PASSWORD=AVNS_8oHRLpTCVcvFWMRj6sh
DB_NAME=market_db

# --- SERVER CONFIGURATION ---
PORT=3002
NODE_ENV=development
